$--pad: 5px 10px -20px -2px;

@keyframes spinning {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg)
  }
}

img {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.Ball {
  animation-name: spinning;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 33px;
}

.Air {
  border-radius: 10px;
}

.Wrapper {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.columnsWrapper {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  // width: 80%;
  display: flex;
  height: calc(100vh - 100px);
  background-color: rgba(168, 246, 242, 0.692);
  // background-image: url("C:/git-private/git_private/react_zakupownik/src/img.gif");
}

.board {
  // letter-spacing: 5px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  // height: 50px;
  height: 100%;
  font-size: calc(10px + 1vmin);
  // font-size: calc(10px + 1vmin);
  // padding-right: 3px;
}

// .air {
//   box-sizing: border-box;
//   display: block;
//   width: 50px;
//   height: 50px;
//   border: 2px solid rgb(201, 201, 201);
// }