$--rg: (
  #fff700,
  #ff0000,
  #afffb6
);

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes op {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.Ball {
  animation-name: spinning;
  border-radius: 80%;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in, ease-out;
  background-image: radial-gradient($--rg);
}

.BallRunning {
  animation-name: spinning, op;
  border-radius: 80%;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-image: radial-gradient($--rg);
}

.Ball:hover {
  cursor: pointer;
  animation-name: none;
  transform: scale(1.8);
}

.introBall2 {
  // margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.part2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: flex-start;
  // justify-content: center;
  text-align: center;
  background-image: radial-gradient(#ff8765, #ffffff, #97fdff);
  // height: auto;
  h2 {
		text-align: center;
	}
	p {
		text-align: center;
		margin-inline: 10%;
		text-justify: distribute;
	}
}

.boardBall2 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 2%;
  width: auto;
  height: auto;
  font-family: Webdings;
  font-size: 2em;
  // margin-bottom: 5%;
}

.Air {
  background-color: #afffb6;
}

.y {
  color: red;
  background-color: #fff347;
}

.Wall {
  background-color: #ce9980;
}