$blue1: #7abfff;
$blue2: #56adff;
$red: #8b0000;

button {
	color: rgb(77, 77, 77);
	cursor: pointer;
}

.button {
	border-radius: 32px;
	font-weight: 700;
	font-size: 1rem;
	background: radial-gradient(white 10%, 70%, $blue1);
	width: 120px;
	height: 50px;
	transition: transform 1s;
	padding: 10px;
	text-align: center;
	border: 2px outset gray;
	box-shadow: 1px 1px 2px 1px black;
	&:hover {
		color: black;
		transform: scale(1.05);
		background-color: $blue2;
	}
	&:active {
		color: $red;
		background: white;
		transform: scale(1.30);
	}
}

#show1, #show2, #show3{
	background: radial-gradient(white 10%, 70%, gray);
	width: auto;
	height: auto;
	opacity: 1;
	// border: 1px outset gray;
	border: 0px;
}

.btnX {
	font-size: (1.5rem);
	outline: none;
	border: none;
	background: none;
	position: absolute;
	right: 15px;
	top: 15px;
	cursor: pointer;
}

.reset {
	visibility: hidden;
	-webkit-transform: scale(0);
	transform: scale(0);
	border-radius: 32px;
	font-weight: 700;
	font-size: 1rem;
	background: radial-gradient(white 10%, 70%, $blue1);
	width: auto;
	height: 50px;
	transition: transform 1s;
	padding-block: auto ;
	box-shadow: 1px 1px 2px 1px gray;
	margin-left: 3vw;
	border: 3px outset gray;
}

.r-active {
	visibility: visible;
	transform: scale(1);
	&:hover {
		color: black;
		transform: scale(1.05);
	}
	&:active {
		color: #8b0000;
		background: white;
		transform: scale(1.10);
	}
}