$blue1: #00f7ff;
$blue2: #56adff;
$red: #8b0000;

button {
	color: rgb(77, 77, 77);
	cursor: pointer;
}

.button {
	border-radius: 15px;
	font-weight: 700;
	font-size: 1rem;
	background: radial-gradient(white 10%, 70%, $blue1);
	width: auto;
	height: auto;
	transition: transform 1s;
	padding: 10px;
	text-align: center;
	border: 2px outset gray;
	box-shadow: 1px 1px 2px 1px black;
	&:hover {
		color: black;
		transform: scale(1.05);
		background: white;
	}
	&:active {
		color: $red;
		background: rgb(255, 139, 139);
		transform: scale(1.30);
	}
	&:disabled{
		cursor: not-allowed;
		background: radial-gradient(white 10%, 70%, gray);
		box-shadow: none;
		color: gray;
		&:hover {
			color: gray;
			transform: none;
		}
	}
}

#show1, #show2, #show3, #show4, #show5, #show6, #show7 {
	background: radial-gradient(white 10%, 70%, gray);
	width: auto;
	height: auto;
	opacity: 1;
	// border: 1px outset gray;
	border: 0px;
	&:hover {
		background: white;
	}
	&:active {
		background: rgb(255, 139, 139);
	}
}

.btnX {
	font-size: (1.5rem);
	outline: none;
	border: none;
	background: none;
	position: absolute;
	right: 15px;
	top: 15px;
	cursor: pointer;
}

.reset {
	visibility: hidden;
	//width: 20%;
	//height: 50px;
	//-webkit-transform: scale(0);
	//transform: scale(0);
	font-weight: 700;
	font-size: 1rem;
	background: radial-gradient(white 10%, 70%, $blue1);
	transition: transform 1s;
	//padding-block: 5px ;
	padding:10px;
	box-shadow: 1px 1px 2px 1px gray;
	//margin-left: 3vw;
	border-radius: 15px;
	border: 3px outset gray;
}

.r-active {
	visibility: visible;
	transform: scale(1);
	&:hover {
		color: black;
		transform: scale(1.05);
		background: white;
	}
	&:active {
		color: #8b0000;
		background: rgb(255, 139, 139);
		transform: scale(1.10);
	}
}