.boardChess{
	line-height:70%;
    border: double 5px black;
    font-size:1em;
    display:inline-flex;
    line-height:0%;
    img:hover{
        box-shadow: inset 0px 0px 7px 2px rgb(0, 38, 255), 0px 0px 7px 2px rgb(0, 38, 255);
    }
}