$pink: #E4C1AE;
$red: #8b0000;
$white: #FFFFFF; 
$shadow: 5px 5px 5px 1px gray;
$gray: rgb(129, 129, 129);
$introShadow: inset 0px 0px 7px 2px $gray, 0px 0px 7px 2px $gray;
$introShadow2: inset 0px 0px 5px 1px $gray, 0px 0px 5px 1px $gray;
$linear: linear-gradient(0.25turn, #b4b4b4, 10%, #ebf8e1, #616161);
$linear2: linear-gradient(0.25turn, #b4b4b4, 10%, #caf9ff, #5599ff);

@font-face {
	font-family: HomemadeSausage;
	src: url(../fonts/HomemadeSausage.ttf);
  } 

  
html {
	// font-family: "Roboto", sans-serif;
	font-family: HomemadeSausage;
	font-size: 16px;
	scroll-behavior: smooth;
}

.hr {
	margin-block: 10px;
	width: 80%;
	display: block;
	height: 1px;
    border: 0; 
	border-top: 1px solid gray;
}

.showAndHideMenu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: $linear;
	padding-right: 3%;
	color: rgb(61, 61, 61);
	p, button{
		margin-inline: 10px;
	}
}

.intro {
	display: flex;
	flex-direction:column;
	// background: linear-gradient(rgb(255, 255, 255), rgb(139, 255, 249), rgb(255, 255, 255));
	background:radial-gradient(#b9b9b9,#fff,#97fdff);
	// background-color: rgb(230, 249, 255);
	// background-image: radial-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgb(173, 211, 255), rgb(255, 255, 255),
	// rgb(116, 181, 255));
	align-items: center;
	margin-top: 5%;
	margin-bottom: 1%;
	margin-inline: 5%;
	box-shadow: $introShadow2;
	z-index: 1;
	// border: 1px solid gray;
	border: none;
	border-radius: 15px;
	p {
		font-style: italic;
		margin-inline: 3%;
		margin-bottom: 3%;
		font-size: 1rem;
	}
	>.center {
		h1 {
			text-align: center;
		}
		display: flex;
		flex-direction: column;
		text-align: justify;
		margin-inline: 3%;
	}
}

#imgMeSmall{
	box-shadow: $introShadow;
	border-radius: 10px;
}

.img {
    width: 80%;
    height: auto;
	margin-block: 3%;
	display: inline-block;
	position: relative;
	top: 1%;
	left: 25%;
	box-shadow: $introShadow;
	border-radius: 10px;
	cursor: pointer;
	&:hover {
		opacity: 0.5;
		transform: scaleX(-1);
	}
	&:active {
		transform: scale(1.30);
	}
}

body{
	main {
		display: flex;
		flex-direction: column;
		justify-items: center;
		}
}

.part1 {
	display: flex;
	flex-direction: row;
	// flex-direction: column;
	width: 100%;
	justify-content: center;
	// text-align: center;
	background-image: linear-gradient(white, lightblue, white);
	&.img-container {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	>.content-container {
		// text-align: center;
		margin-left: 10%;
		// margin-inline: auto;
		width: 50%;
		// width: 80%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		justify-items: flex-start;
		>p {
			font-size: 1rem;
			margin-bottom: 2vh;
		}
	}
}

.end {
	text-align: right;
	font-size: 1rem;
	background: $linear2;
	padding-right: 4%;
	color: rgb(0, 0, 0);
	padding-block: 5px;
}