$pink: #E4C1AE;
$red: #8b0000;
$white: #FFFFFF; 
$shadow: 5px 5px 5px 1px gray;
$gray: rgb(129, 129, 129);
$introShadow: inset 0px 0px 7px 2px $gray, 0px 0px 7px 2px $gray;
$introShadow2: inset 0px 0px 5px 1px $gray, 0px 0px 5px 1px $gray;
$linear: linear-gradient(0.25turn, #7dc0ff, 20%, #ebf8e1, #616161, #004483);
$linear2: linear-gradient(0.25turn, #b4b4b4, 10%, #caf9ff, #5599ff);

@font-face {
	font-family: HomemadeSausage;
	src: url(../fonts/HomemadeSausage.ttf);
  } 

  
html {
	// font-family: "Roboto", sans-serif;
	font-family: HomemadeSausage;
	font-size: 16px;
	scroll-behavior: smooth;
}

.hr {
	margin-block: 10px;
	width: 80%;
	display: block;
	height: 1px;
    border: 0; 
	border-top: 1px solid gray;
}

.showAndHideMenu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: $linear;
	padding-right: 3%;
	color: rgb(61, 61, 61);
	p, button{
		margin-inline: 10px;
	}
}

body{
	main {
		display: flex;
		flex-direction: column;
		justify-items: center;
	}
}

.end {
	text-align: right;
	font-size: 1rem;
	background: $linear2;
	padding-right: 4%;
	color: rgb(0, 0, 0);
	padding-block: 5px;
}