.boardGol{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    //letter-spacing: 5px;
    flex-direction: column;

    margin-top: 1%;
    margin-bottom: 2%;
    // margin-inline: 10%;
    // width: 80%;
    // height: auto;
    border: 5px double;
    background-image: linear-gradient(#fbff00, #e562ff, #fbff00);
    //transform: scale(0.9);
    // margin-bottom: 5%;
    line-height:70%;
    //font-size: calc(10px + 1vmin);
}

@keyframes spinning {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg)
  }
}

.cell {
  animation-name: spinning;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 33px;
}

.air {
  border-radius: 5px;
}

#p_red{
  color:rgb(141, 0, 0);
  font-weight: 700;
  //background-color: #ffffff;
  padding: 5px;
  //opacity: 0.5;
  //box-shadow: 0px 0px 5px 5px #fbff00;
  box-shadow:0px 0px 1px 1px rgb(141, 0, 0);
}

// .air {
//   box-sizing: border-box;
//   display: block;
//   width: 50px;
//   height: 50px;
//   border: 2px solid rgb(201, 201, 201);
// }