@media only screen and (max-width: 970px) {
	html {
		font-size: 16px;
	}
	main > div > .sliderMenu {
		visibility: visible;
		position: fixed;
		top: 10%;
		z-index: 2;
		background-color:rgba(255, 255, 255, 0.664);
		border-radius: 5px;
	}
	main > div > .menu {
		position: fixed;
		top: 6%;
	}

	.menu {
		// ol {
		// 	line-height: auto; 
		border-style: 3px outset;
		// }
		ol>li {
			width: 100px;
			// line-height: auto; 
			padding-inline: 3px;
			border: 2px outset rgb(155, 155, 155);
		}
		// ol>li {
		// 	float: left;
		// 	background-color: #fdd700;
		// 	width: 100px;
		// 	margin-left: 1px;
		// 	//height: 2em; 
		// }
	}

	.menu2 {
		margin-top: 1%;
		// width:auto;
	}

	#intro {
		margin-top: 15%;
	}

	.img {
		width: 50%;
		height: auto;
		margin-inline: auto;
		margin-block: 0%;
		transform: scale(0.8);
	}

	.part1 {
		flex-direction: column;
		>.content-container {
			text-align: center;
			width: 100%;
			width: 80%;
			margin-inline: auto;
			justify-content: center;
			justify-items: center;
		}
	}

}

// @media only screen and (max-width: 400px) {
// 	#languageAndMenu {
// 		flex-direction:column;
// 	}

// 	.menu {
// 		ol {
// 			line-height: auto; 
// 		}
// 		ol>li {
// 			width: auto;
// 		}
// 	}

// 	.menu2 {
// 		margin-top: 1%;
// 		width:auto;
// 	}

// 	#intro {
// 		margin-top: 20%;
// 	}

// 	.img {
// 		width: 50%;
// 		height: auto;
// 		margin-inline: auto;
// 	}

// 	.part1 {
// 		flex-direction: column;
// 		>.content-container {
// 			text-align: center;
// 			width: 100%;
// 			width: 80%;
// 			margin-inline: auto;
// 			justify-content: center;
// 			justify-items: center;
// 		}
// 	}
// }