$shadow: 5px 5px 5px 1px rgb(80, 80, 80);

body {
		// -webkit-box-orient: vertical;
		// -webkit-box-direction: normal;
		// -ms-flex-direction: column;
		// flex-direction: column;

	h1, h2 {
		// color:gray;
		margin-bottom: 2vh;
	}

	>main {
		// width: 100%;
		padding-top: 20px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;

		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		>.part1 {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			width: 105%;
			justify-content: center;
			background-image: linear-gradient(white, lightblue, white);
			grid-gap: 10px 10px;
		}
	}
}

@media only screen and (min-width: 801px) {
	body {
		>main {
			// -webkit-box-align: start;
			// -ms-flex-align: start;
			// align-items: flex-start;
			>.part1 {
				flex-direction: row;
				>.img-container {
					width: 40%;
					height: 40%;
					display: flex;
					justify-content: center;
					>.img {
						border-radius: 10px;
						-webkit-box-shadow: $shadow;
						box-shadow: $shadow;
					}
				}
				>.content-container {
					margin-inline: 1vw;
					width: 40%;
					height: 40%;
	
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
	
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					-ms-flex-direction: column;
					flex-direction: column;
	
					-webkit-box-pack: center;
					-ms-flex-pack: center;
					justify-content: center;

					>p {
						font-size: 1rem;
						margin-bottom: 2vh;
					}
				}
			}

		}
	}
}

@media only screen and (max-width: 800px) {
	body {
		>main {
			grid-gap: 10px 10px;
			>.part1 {
				flex-direction: column;
				// align-content: center;
				>.img-container {
					display: flex;
					justify-content: center;
					>img {
						width: 30%;
						height: 30%;
						border-radius: 10px;
						-webkit-box-shadow: $shadow;
						box-shadow: $shadow;
					}
				}
				>.content-container {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;

					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					-ms-flex-direction: column;
					flex-direction: column;

					-webkit-box-pack: center;
					-ms-flex-pack: center;
					justify-content: center;

					text-align: center;
					margin-inline: 20px;
					
					>.center {
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
			}
		}
	}
}